.bottom-footer {
  padding-top: $footer-padding-top;
  padding-bottom: $footer-padding-bottom;
  background-color: rgba($footer-background-color, 0.8);
  min-height: $footer-height;
  line-height: $footer-font-size;
  font-size: $footer-font-size;
  width: 100%;
  margin-top: 20px;

  .top {
    margin-bottom: 10px;

    .left-block {

    }
    .right-block {

    }
  }
  .bottom {
    .copyright-text {
      color: darken($footer-background-color, 45%);
    }
    .contact-section {
      text-align: right;

      .contact-bar {
        color: darken($footer-background-color, 45%);
        .contact-item {
          padding-right: 4px;
        }
      }
    }
  }

}
